$slytherin: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
$gryffindor: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
$ravenclaw: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
$hufflepuff: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
