@import './common/Card/colors.scss';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  background-image: url('./images/Background.png');
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  /* Full height */
  height: 100vh;
  color: #ffffff;
}

.harryPotterLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Slytherin {
  background: $slytherin;
  border-radius: 16px 0px 0px 16px;
}
.Gryffindor {
  background: $gryffindor;
  border-radius: 16px 0px 0px 16px;
}
.Ravenclaw {
  background: $ravenclaw;
  border-radius: 16px 0px 0px 16px;
}
.Hufflepuff {
  background: $hufflepuff;
  border-radius: 16px 0px 0px 16px;
}
